In [98]:
import mysql.connector 

cnx1 = mysql.connector.connect(user='root', password='1234prabh',
                              host='localhost',
                              database='Data5408A2',auth_plugin='mysql_native_password')
cnx2 = mysql.connector.connect(user='root', password='1234prabh',
                              host='localhost',
                              database='Data5408A2',auth_plugin='mysql_native_password')

In [99]:
Transaction1 = cnx1.cursor()
Transaction2 = cnx2.cursor()

In [100]:
Transaction1.execute("START TRANSACTION;")

In [101]:
Transaction2.execute("START TRANSACTION;")

In [102]:
query1="Select * from customer_details where customer_zip_code_prefix='01151'"
Transaction1.execute(query1)
records = Transaction1.fetchall()
for record in records:
    print(record)

(2, '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'palo alto', 'SP')

In [103]:
Transaction2.execute(query1)
records = Transaction2.fetchall()
for record in records:
    print(record)

(2, '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'palo alto', 'SP')

In [104]:
query2 ="update customer_details set customer_city='T1 City' where customer_zip_code_prefix='01151'"

In [105]:
Transaction1.execute(query2)
print(Transaction1.rowcount, "record(s) affected")

1 record(s) affected

In [106]:
query3 ="update customer_details set customer_city='T2 City' where customer_zip_code_prefix='01151'"
Transaction2.execute(query3)
print(Transaction2.rowcount, "record(s) affected")

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [107]:
Transaction2.execute('COMMIT;')

In [108]:
Transaction1.execute('COMMIT;')

In [109]:
cnx1.close()
cnx2.close()