In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
animals = pd.read_csv('otn_public_data_dump/otnunit_aat_animals_8dc3_4d15_c278.csv')
print(animals.shape)
animals.isnull().sum()

(3810, 17)

animal_project_reference       1
datacenter_reference           1
animal_reference_id            1
animal_guid                    1
vernacularname                 1
scientificname                 1
taxonrank                   3810
aphiaid                        1
tsn                            1
animal_origin                 13
stock                        164
length                       119
length_type                  117
weight                       738
life_stage                  3299
age                         3660
sex                         3324
dtype: int64

In [7]:
animals.describe(include="all")

,animal_project_reference,datacenter_reference,animal_reference_id,animal_guid,vernacularname,scientificname,taxonrank,aphiaid,tsn,animal_origin,stock,length,length_type,weight,life_stage,age,sex
count,3809,3809,3809,3809,3809,3809,0.0,3809.000000,3809.000000,3797,3646,3691.000000,3693,3072.000000,511,150.000000,486
unique,14,2,3809,3809,17,16,NaN,NaN,NaN,3,19,NaN,3,NaN,4,NaN,3
top,MACFL,nep,MACFL-16131,nepMACFLMACFL-15884,Chinook salmon,Oncorhynchus tshawytscha,NaN,NaN,NaN,H,Central Valley Late-Fall,NaN,FORK,NaN,JUVENILE,NaN,U
freq,2257,3331,1,1,2437,2437,NaN,NaN,NaN,2992,2257,NaN,3649,NaN,453,NaN,341
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154462.559989,163201.938041,NaN,NaN,0.201176,NaN,0.345505,NaN,5.333333,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37329.310629,28931.395983,NaN,NaN,0.208734,NaN,2.474357,NaN,6.148789,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105792.000000,98675.000000,NaN,NaN,0.104000,NaN,0.012150,NaN,1.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127186.000000,161980.000000,NaN,NaN,0.148000,NaN,0.035300,NaN,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158075.000000,161980.000000,NaN,NaN,0.159000,NaN,0.042600,NaN,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158075.000000,161980.000000,NaN,NaN,0.174000,NaN,0.054625,NaN,14.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452271.000000,630243.000000,NaN,NaN,1.854200,NaN,40.460000,NaN,14.000000,NaN

In [8]:
animals.dropna(axis=0, how='all', thresh=None, subset=None, inplace=True)
animals.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(animals.shape)
animals.isnull().sum()

(3809, 16)

animal_project_reference       0
datacenter_reference           0
animal_reference_id            0
animal_guid                    0
vernacularname                 0
scientificname                 0
aphiaid                        0
tsn                            0
animal_origin                 12
stock                        163
length                       118
length_type                  116
weight                       737
life_stage                  3298
age                         3659
sex                         3323
dtype: int64

In [9]:
animals.nunique()

animal_project_reference      14
datacenter_reference           2
animal_reference_id         3809
animal_guid                 3809
vernacularname                17
scientificname                16
aphiaid                       16
tsn                           16
animal_origin                  3
stock                         19
length                       262
length_type                    3
weight                       812
life_stage                     4
age                            2
sex                            3
dtype: int64

In [10]:
animals_mapping = animals[['animal_project_reference','datacenter_reference','animal_reference_id',
                           'animal_guid','aphiaid']]
print(animals_mapping.shape)
animals_mapping.isnull().sum()
animals_mapping.to_csv("otn_clean_data/animals_mapping.csv")

(3809, 5)

In [11]:
animals_details = animals[['animal_reference_id','animal_origin','stock',
                           'length','length_type','weight','life_stage','age','sex']]
animals_details = animals_details.dropna(axis=0, how='all', thresh=7, subset=None)
print(animals_details.shape)
animals_details['age'].fillna((animals_details['age'].mean()), inplace=True)
animals_details = animals_details.apply(lambda x:x.fillna(x.value_counts().index[0]))
animals_details.to_csv("otn_clean_data/animals_details.csv")

(568, 9)

In [200]:
animals_naming = animals[['aphiaid','vernacularname','scientificname','tsn']]
animals_naming = animals_naming.drop_duplicates()
animals_naming = animals_naming.drop_duplicates(subset='aphiaid', keep='first')
print(animals_naming.shape)
animals_naming.nunique()
animals_naming.to_csv("otn_clean_data/animals_naming.csv")

(16, 4)

In [138]:
datacenter = pd.read_csv('otn_public_data_dump/otnunit_aat_datacenter_attributes_8a94_cefd_f8a3.csv')
print(datacenter.shape)
datacenter.isnull().sum()

(5, 20)

datacenter_reference                 1
datacenter_name                      1
datacenter_abstract                  1
datacenter_citation                  1
datacenter_pi                        1
datacenter_pi_organization           1
datacenter_pi_contact                1
datacenter_infourl                   1
datacenter_keywords                  1
datacenter_keywords_vocabulary       1
datacenter_doi                       1
datacenter_license                   1
datacenter_distribution_statement    5
datacenter_date_modified             5
datacenter_geospatial_lon_min        2
datacenter_geospatial_lon_max        2
datacenter_geospatial_lat_min        2
datacenter_geospatial_lat_max        2
time_coverage_start                  4
time_coverage_end                    4
dtype: int64

In [141]:
datacenter.dropna(axis=1, how='all', thresh=1, subset=None, inplace=True)
datacenter.dropna(axis=0, how='all', thresh=3, subset=None, inplace=True)
print(datacenter.shape)
datacenter.isnull().sum()

(4, 16)

datacenter_reference              0
datacenter_name                   0
datacenter_abstract               0
datacenter_citation               0
datacenter_pi                     0
datacenter_pi_organization        0
datacenter_pi_contact             0
datacenter_infourl                0
datacenter_keywords               0
datacenter_keywords_vocabulary    0
datacenter_doi                    0
datacenter_license                0
datacenter_geospatial_lon_min     1
datacenter_geospatial_lon_max     1
datacenter_geospatial_lat_min     1
datacenter_geospatial_lat_max     1
dtype: int64

In [142]:
datacenter.nunique()

datacenter_reference              4
datacenter_name                   3
datacenter_abstract               3
datacenter_citation               3
datacenter_pi                     1
datacenter_pi_organization        1
datacenter_pi_contact             1
datacenter_infourl                1
datacenter_keywords               1
datacenter_keywords_vocabulary    1
datacenter_doi                    1
datacenter_license                3
datacenter_geospatial_lon_min     3
datacenter_geospatial_lon_max     3
datacenter_geospatial_lat_min     3
datacenter_geospatial_lat_max     3
dtype: int64

In [203]:
datacenter_details = datacenter[['datacenter_reference','datacenter_name','datacenter_abstract','datacenter_citation',
                                'datacenter_pi','datacenter_geospatial_lon_min','datacenter_geospatial_lon_max',
                                 'datacenter_geospatial_lat_min','datacenter_geospatial_lat_max']]

datacenter_details.nunique()
datacenter_details.to_csv("otn_clean_data/datacenter_details.csv")

In [273]:
principal_investigator = pd.DataFrame()
principal_investigator['pi_name']= datacenter['datacenter_pi']
principal_investigator['pi_organization']= datacenter['datacenter_pi_organization']
principal_investigator['pi_contact']= datacenter['datacenter_pi_contact']
principal_investigator['infourl']= datacenter['datacenter_infourl']
principal_investigator['keywords']= datacenter['datacenter_keywords']
principal_investigator['keywords_vocabulary']= datacenter['datacenter_keywords_vocabulary']
principal_investigator['doi']= datacenter['datacenter_doi']
principal_investigator['license']= datacenter['datacenter_license']
principal_investigator = principal_investigator.drop_duplicates(subset='pi_name', keep='first')
principal_investigator.nunique()

pi_name                1
pi_organization        1
pi_contact             1
infourl                1
keywords               1
keywords_vocabulary    1
doi                    1
license                1
dtype: int64

In [67]:
detections = pd.read_csv('otn_public_data_dump/otnunit_aat_detections_9062_5923_1394.csv')
print(detections.shape)
detections.isnull().sum()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5,6,13,15,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(218979, 27)

detection_project_reference         1
datacenter_reference                1
detection_id                        1
detection_guid                      1
time                                0
latitude                            0
longitude                           0
tracker_reference                   1
detection_reference_id              1
detection_reference_type            1
transmitter_codespace               1
transmitter_id                      1
detection_transmittername           1
detection_serial_number             1
sensor_data                    215275
sensor_data_units              215111
receiver_log_id                218979
deployment_id                       1
detection_quality              213925
depth                          218978
position_data_source                1
uncertainty_in_latitude        218979
uncertainty_in_longitude       218979
depth_data_source              218979
uncertainty_in_depth           218979
other_position_data            218979
dataset_quality                218979
dtype: int64

In [213]:
detections.dropna(axis=0, how='all', thresh=5, subset=None, inplace=True)
detections.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(detections.shape)
detections.isnull().sum()

(218978, 19)

detection_project_reference         0
datacenter_reference                0
detection_id                        0
detection_guid                      0
time                                0
latitude                            0
longitude                           0
tracker_reference                   0
detection_reference_id              0
detection_reference_type            0
transmitter_codespace               0
transmitter_id                      0
detection_transmittername           0
detection_serial_number             0
sensor_data                    215274
sensor_data_units              215110
deployment_id                       0
detection_quality              213924
position_data_source                0
dtype: int64

In [75]:
detections.nunique()

detection_project_reference        29
datacenter_reference                2
detection_id                   218978
detection_guid                 218978
time                           215785
latitude                          708
longitude                         697
tracker_reference                  10
detection_reference_id            617
detection_reference_type            1
transmitter_codespace               8
transmitter_id                    659
detection_transmittername         659
detection_serial_number           775
sensor_data                        95
sensor_data_units                   3
deployment_id                     718
detection_quality                   1
position_data_source                1
dtype: int64

In [323]:
detection_details = detections[['detection_id','detection_guid','detection_project_reference','datacenter_reference',
                               'time','latitude','longitude','tracker_reference','detection_reference_id',
                               'detection_reference_type','transmitter_id','sensor_data','sensor_data_units',
                                'deployment_id','position_data_source']]
detection_details.nunique()
detection_details.to_csv("otn_clean_data/detection_details.csv")

In [229]:
transmitter = detections[['transmitter_id','transmitter_codespace','detection_transmittername',
                          'detection_serial_number']]
transmitter = transmitter.drop_duplicates(subset='transmitter_id', keep='first')
transmitter.nunique()
transmitter.to_csv("otn_clean_data/transmitter.csv")

In [76]:
platforms = pd.read_csv('otn_public_data_dump/otnunit_aat_manmade_platform_0735_7c9f_329c.csv')
print(platforms.shape)
platforms.isnull().sum()

(8939, 9)

platform_project_reference       1
datacenter_reference             1
platform_reference_id            1
platform_guid                    1
platform_type                    1
platform_depth                2262
platform_name                    1
latitude                        10
longitude                       10
dtype: int64

In [79]:
platforms.dropna(axis=0, how='all', thresh=3, subset=None, inplace=True)
platforms.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(platforms.shape)
platforms.isnull().sum()

(8938, 9)

platform_project_reference       0
datacenter_reference             0
platform_reference_id            0
platform_guid                    0
platform_type                    0
platform_depth                2261
platform_name                    0
latitude                        10
longitude                       10
dtype: int64

In [80]:
print(platforms.shape)
platforms.notnull().sum()

(8938, 9)

platform_project_reference    8938
datacenter_reference          8938
platform_reference_id         8938
platform_guid                 8938
platform_type                 8938
platform_depth                6677
platform_name                 8938
latitude                      8928
longitude                     8928
dtype: int64

In [81]:
platforms.nunique()

platform_project_reference     174
datacenter_reference             3
platform_reference_id         8845
platform_guid                 8938
platform_type                    3
platform_depth                1301
platform_name                 8845
latitude                      7828
longitude                     8009
dtype: int64

In [318]:
platforms = platforms.apply(lambda x: x.astype(str).str.lower()).drop_duplicates(subset=['platform_reference_id'], keep='first')
platforms = platforms.drop_duplicates(subset='platform_reference_id', keep='first')
platforms.to_csv("otn_clean_data/platforms.csv")

In [264]:
projects = pd.read_csv('otn_public_data_dump/otnunit_aat_project_attributes_f29c_fb21_23a3.csv')
print(projects.shape)
projects.isnull().sum()

(301, 27)

project_reference                   1
datacenter_reference                1
project_name                        1
project_abstract                    4
project_citation                   13
project_pi                         17
project_pi_organization             1
project_pi_contact                 17
project_infourl                     4
project_keywords                    1
project_keywords_vocabulary         1
project_references                301
project_doi                       301
project_license                     1
project_distribution_statement    301
project_date_modified             301
project_datum                       1
project_geospatial_lon_min          0
project_geospatial_lon_max          0
project_geospatial_lat_min          0
project_geospatial_lat_max          0
project_linestring                301
geospatial_vertical_min           127
geospatial_vertical_max           145
geospatial_vertical_positive      301
time_coverage_start               301
time_coverage_end                 301
dtype: int64

In [265]:
projects.dropna(axis=0, how='all', thresh=5, subset=None, inplace=True)
projects.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(projects.shape)
projects.isnull().sum()

(300, 19)

project_reference                0
datacenter_reference             0
project_name                     0
project_abstract                 3
project_citation                12
project_pi                      16
project_pi_organization          0
project_pi_contact              16
project_infourl                  3
project_keywords                 0
project_keywords_vocabulary      0
project_license                  0
project_datum                    0
project_geospatial_lon_min       0
project_geospatial_lon_max       0
project_geospatial_lat_min       0
project_geospatial_lat_max       0
geospatial_vertical_min        126
geospatial_vertical_max        144
dtype: int64

In [266]:
projects.nunique()

project_reference              300
datacenter_reference             3
project_name                   298
project_abstract               216
project_citation               269
project_pi                     186
project_pi_organization        137
project_pi_contact             190
project_infourl                289
project_keywords                13
project_keywords_vocabulary      1
project_license                  1
project_datum                    1
project_geospatial_lon_min     294
project_geospatial_lon_max     287
project_geospatial_lat_min     295
project_geospatial_lat_max     296
geospatial_vertical_min          1
geospatial_vertical_max         90
dtype: int64

In [267]:
project_details = projects[['project_reference','datacenter_reference','project_name','project_abstract',
                            'project_citation', 'project_pi' ,'project_datum','project_geospatial_lon_min',
                            'project_geospatial_lon_max','project_geospatial_lat_min','project_geospatial_lat_max',
                           'geospatial_vertical_min','geospatial_vertical_max']]
project_details.to_csv("otn_clean_data/project_details.csv")

In [276]:
principal_investigator1 = pd.DataFrame()
principal_investigator1['pi_name']= projects['project_pi']
principal_investigator1['pi_organization']= projects['project_pi_organization']
principal_investigator1['pi_contact']= projects['project_pi_contact']
principal_investigator1['infourl']= projects['project_infourl']
principal_investigator1['keywords']= projects['project_keywords']
principal_investigator1['keywords_vocabulary']= projects['project_keywords_vocabulary']
principal_investigator1['license']= projects['project_license']
principal_investigator1 = principal_investigator1.drop_duplicates(subset='pi_name', keep='first')
principal_investigator1 = principal_investigator1.dropna(axis=0, subset=['pi_name'])
principal_investigator3 = pd.concat([principal_investigator1,principal_investigator])
principal_investigator3.to_csv("otn_clean_data/principal_investigator.csv")
principal_investigator3.shape

(187, 8)

In [110]:
receivers = pd.read_csv('otn_public_data_dump/otnunit_aat_receivers_c595_05f4_68b2.csv')
print(receivers.shape)
receivers.isnull().sum()

(18787, 21)

deployment_project_reference        1
datacenter_reference                1
deployment_id                       1
deployment_guid                     1
receiver_manufacturer             801
receiver_model                      1
frequencies_monitored           18787
receiver_coding_scheme          18787
receiver_serial_number              3
latitude                            1
longitude                           1
time                                0
recovery_datetime_utc            3409
array_name                          1
receiver_reference_type             1
receiver_reference_id               7
bottom_depth                     4286
depth                            4956
deployment_comments             15526
deployed_by                     18787
expected_receiver_life          18787
dtype: int64

In [111]:
receivers.dropna(axis=0, how='all', thresh=7, subset=None, inplace=True)
receivers.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(receivers.shape)
receivers.isnull().sum()

(18786, 17)

deployment_project_reference        0
datacenter_reference                0
deployment_id                       0
deployment_guid                     0
receiver_manufacturer             800
receiver_model                      0
receiver_serial_number              2
latitude                            1
longitude                           1
time                                0
recovery_datetime_utc            3409
array_name                          0
receiver_reference_type             0
receiver_reference_id               6
bottom_depth                     4286
depth                            4956
deployment_comments             15525
dtype: int64

In [113]:
receivers.nunique()

deployment_project_reference      173
datacenter_reference                3
deployment_id                   18785
deployment_guid                 18786
receiver_manufacturer              21
receiver_model                     81
receiver_serial_number           7036
latitude                        13331
longitude                       13644
time                            15483
recovery_datetime_utc           11930
array_name                        173
receiver_reference_type             1
receiver_reference_id            8519
bottom_depth                     2001
depth                            1771
deployment_comments              1570
dtype: int64

In [294]:
reciever_details = receivers[['deployment_project_reference','datacenter_reference','deployment_id','deployment_guid',
                             'receiver_serial_number','latitude','longitude','time','recovery_datetime_utc',
                              'array_name','receiver_reference_type','receiver_reference_id','bottom_depth',
                              'depth']]
reciever_details = reciever_details.drop_duplicates(subset='deployment_id', keep='first')
reciever_details.to_csv("otn_clean_data/reciever_details.csv")
reciever_details.nunique()

deployment_project_reference      173
datacenter_reference                3
deployment_id                   18785
deployment_guid                 18785
receiver_serial_number           7036
latitude                        13330
longitude                       13643
time                            15483
recovery_datetime_utc           11930
array_name                        173
receiver_reference_type             1
receiver_reference_id            8518
bottom_depth                     2001
depth                            1771
dtype: int64

In [293]:
models = pd.DataFrame()
models['serial_number'] = receivers['receiver_serial_number']
models['manufacturer'] = receivers['receiver_manufacturer']
models['model'] = receivers['receiver_model']
models = models.drop_duplicates(subset='serial_number', keep='first')
models = models.dropna(axis=0, subset=['serial_number'])
models.shape

(7036, 3)

In [109]:
recovery = pd.read_csv('otn_public_data_dump/otnunit_aat_recover_offload_details_4b23_f002_f89a.csv')
print(recovery.shape)
recovery.isnull().sum()

(37204, 15)

recovery_project_reference        1
datacenter_reference              1
recovery_id                       1
deployment_id                    44
recovery_guid                    44
recovery_latitude               440
recovery_longitude              440
recovery_datetime_utc         21826
recovery_outcome                  1
data_offloaded                    1
offload_datetime_utc          22210
log_filenames                 19394
recovery_comments             30625
clock_synchronized            37204
recovered_by                  37204
dtype: int64

In [116]:
recovery.dropna(axis=0, how='all', thresh=3, subset=None, inplace=True)
recovery.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(recovery.shape)
recovery.isnull().sum()

(37203, 13)

recovery_project_reference        0
datacenter_reference              0
recovery_id                       0
deployment_id                    43
recovery_guid                    43
recovery_latitude               439
recovery_longitude              439
recovery_datetime_utc         21826
recovery_outcome                  0
data_offloaded                    0
offload_datetime_utc          22210
log_filenames                 19393
recovery_comments             30624
dtype: int64

In [117]:
recovery.nunique()

recovery_project_reference      166
datacenter_reference              3
recovery_id                   37201
deployment_id                 16898
recovery_guid                 37160
recovery_latitude             12892
recovery_longitude            13186
recovery_datetime_utc         11930
recovery_outcome                 25
data_offloaded                    2
offload_datetime_utc          12428
log_filenames                 13048
recovery_comments              2044
dtype: int64

In [322]:
recovery = recovery.drop_duplicates(subset='recovery_id', keep='first')
print(recovery.nunique())
print(recovery.shape)
recovery.to_csv("otn_clean_data/recovery.csv")

recovery_project_reference      166
datacenter_reference              3
recovery_id                   37201
deployment_id                 16898
recovery_guid                 37158
recovery_latitude             12892
recovery_longitude            13186
recovery_datetime_utc         11930
recovery_outcome                 25
data_offloaded                    2
offload_datetime_utc          12427
log_filenames                 13048
recovery_comments              2044
dtype: int64
(37201, 13)

In [320]:
recovery.shape

(37201, 13)

In [118]:
tag_release = pd.read_csv('otn_public_data_dump/otnunit_aat_tag_releases_b793_03e7_a230.csv')
print(tag_release.shape)
tag_release.isnull().sum()

(3838, 19)

release_project_reference       1
datacenter_reference            1
tag_device_id                   1
release_guid                    1
release_reference_id            1
release_reference_type          1
latitude                        0
longitude                       0
time                            0
expected_enddate                0
manufacturer                    1
tag_model                       1
tag_serial_number               1
tag_frequency                3838
tag_coding_system               1
transmitted_id                  1
transmittername                 1
transmitter_type             3838
tag_programming_id           3838
dtype: int64

In [133]:
tag_release.dropna(axis=0, how='all', thresh=5, subset=None, inplace=True)
tag_release.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
print(tag_release.shape)
tag_release.isnull().sum()

(3837, 16)

release_project_reference    0
datacenter_reference         0
tag_device_id                0
release_guid                 0
release_reference_id         0
release_reference_type       0
latitude                     0
longitude                    0
time                         0
expected_enddate             0
manufacturer                 0
tag_model                    0
tag_serial_number            0
tag_coding_system            0
transmitted_id               0
transmittername              0
dtype: int64

In [134]:
tag_release.nunique()

release_project_reference      11
datacenter_reference            2
tag_device_id                3837
release_guid                 3837
release_reference_id         3686
release_reference_type          2
latitude                      114
longitude                     116
time                          434
expected_enddate              453
manufacturer                    2
tag_model                      17
tag_serial_number            3728
tag_coding_system              14
transmitted_id               3827
transmittername              3837
dtype: int64

In [301]:
tag_release_info = tag_release[['release_project_reference','datacenter_reference','tag_device_id','release_guid',
                               'release_reference_id','release_reference_type','latitude','longitude','time',
                                'expected_enddate','tag_serial_number','tag_coding_system','transmitted_id']]
tag_release_info.to_csv("otn_clean_data/tag_release_info.csv")
tag_release_info.nunique()

release_project_reference      11
datacenter_reference            2
tag_device_id                3837
release_guid                 3837
release_reference_id         3686
release_reference_type          2
latitude                      114
longitude                     116
time                          434
expected_enddate              453
tag_serial_number            3728
tag_coding_system              14
transmitted_id               3827
dtype: int64

In [316]:
models2 = pd.DataFrame()
models2['serial_number'] = tag_release['tag_serial_number']
models2['manufacturer'] = tag_release['manufacturer']
models2['model'] = tag_release['tag_model']
# models2 = models2.drop_duplicates(subset='serial_number', keep='first')
# models2 = models2.dropna(axis=0, subset=['serial_number'])
models3 = pd.concat([models2,models])
models3 = models3.drop_duplicates(subset='serial_number', keep='first')
models3 = models3.dropna(axis=0, subset=['serial_number'])
models3.to_csv("otn_clean_data/models.csv")
print(models3.shape)
models3.nunique()
models3.duplicated(subset='manufacturer').sum()

(10764, 3)

10742